/* Example of css to prevent css overlap */
/* Emphasis on using the "super" parent class, ie. "manager-dashboard" */
.manager-dashboard {
  /* Manager Dashboard */

  position: relative;
  width: 1024px;
  height: 768px;
  left: 253px;
  top: 3px;
  background: linear-gradient(
    180deg,
    rgb(167, 132, 81) 0%,
    rgba(40, 57, 119, 1) 30%,
    rgba(63, 69, 125, 1) 50%,
    rgba(40, 57, 119, 1) 70%,
    rgba(20, 36, 93, 1) 100%
  );

  /* background: url(gradient.jpg); */
}
.manager-dashboard-heading {
  /* FROST BOOKSHOP */

  position: absolute;
  width: 382px;
  height: 78px;
  left: 19px;
  top: -4px;

  /* Header 1 */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #ffffff;
}
.sales-transaction-title {
  /* Sales & Transactions */

  position: absolute;
  width: 205px;
  height: 23px;
  left: 52px;
  top: 145px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #ffffff;
}
.edit-profile-title {
  /* Edit Profile */

  position: absolute;
  width: 122px;
  height: 23px;
  left: 39px;
  top: 384px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #ffffff;
}
.items-title {
  /* Items */

  position: absolute;
  width: 122px;
  height: 23px;
  left: 689px;
  top: 145px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #ffffff;
}
.employees-title {
  /* Employees */

  position: absolute;
  width: 122px;
  height: 23px;
  left: 390px;
  top: 145px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #ffffff;
}
.sales-div {
  /* Rectangle 33 */

  position: absolute;
  width: 129px;
  height: 129px;
  left: 51px;
  top: 175px;

  background: rgba(196, 196, 196, 0.42);
}
.employees-div {
  /* Rectangle 36 */

  position: absolute;
  width: 129px;
  height: 129px;
  left: 404px;
  top: 175px;

  background: rgba(196, 196, 196, 0.42);
}
.items-div {
  /* Rectangle 40 */

  position: absolute;
  width: 129px;
  height: 129px;
  left: 697px;
  top: 175px;

  background: rgba(196, 196, 196, 0.42);
}
.edit-profile-div {
  /* Rectangle 50 */

  position: absolute;
  width: 129px;
  height: 129px;
  left: 40px;
  top: 414px;

  background: rgba(196, 196, 196, 0.42);
}

.manager-dashboard-transactions {
  /* Vector */

  position: absolute;
  left: 25%;
  right: 0%;
  top: 25%;
  bottom: 0%;
}
.manager-dashboard-employees {
  position: absolute;
  left: 25%;
  right: 0%;
  top: 25%;
  bottom: 0%;
}

.manager-dashboard-item {
  position: absolute;
  left: 25%;
  right: 0%;
  top: 25%;
  bottom: 0%;
}

.pencil-dashboard {
  /* Rectangle 46 */

  position: absolute;
  width: 57px;
  height: 59px;
  left: 842px;
  top: 175px;

  background: rgba(232, 72, 72, 0.45);
}

.pen-dashboard {
  /* Rectangle 47 */

  position: absolute;
  width: 57px;
  height: 59px;
  left: 909px;
  top: 175px;

  background: rgba(232, 72, 72, 0.45);
}
.primary-dashboard {
  /* Rectangle 48 */

  position: absolute;
  width: 57px;
  height: 59px;
  left: 842px;
  top: 245px;

  background: rgba(232, 72, 72, 0.45);
}
.exercisebook-dashboard {
  /* Rectangle 49 */

  position: absolute;
  width: 57px;
  height: 59px;
  left: 909px;
  top: 245px;

  background: rgba(232, 72, 72, 0.45);
}

.btn {
  /* Rectangle 6 */

  position: absolute;
  width: 87px;
  height: 50px;
  left: 909px;
  top: 76px;

  background: rgba(96, 102, 180, 0.1);
  border-radius: 15px;

  /* Rectangle 6 */
  /* 
position: absolute;
width: 67px;
height: 60px;
left: 909px;
top: 76px;

background: rgba(133, 120, 120, 0.1);
border-radius: 15px; */
}
.manager-dashboard div p {
  color: beige;
  /* ...more css */
}

.manager-dashboard div span {
  /* ...more css */
}
