/* Example of css to prevent css overlap */
/* Emphasis on using the "super" parent class, ie. "employee-dashboard" */
.employee-dashboard {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0%;
 
  background: linear-gradient(
    180deg,
    rgb(167, 132, 81) 0%,
    rgba(40, 57, 119, 1) 30%,
    rgba(63, 69, 125, 1) 50%,
    rgba(40, 57, 119, 1) 70%,
    rgba(20, 36, 93, 1) 100%
  );
  /* ...more css */
}
.employee-dashboard-heading {
  
  position: absolute;
  width: 382px;
  height: 78px;
  left: 100px;
  top: 39px;

  /* Header 1 */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #f0eaea;
}
.employee-dashboard .pointofsale-title {
  

  position: absolute;
  width: 122px;
  height: 23px;
  left: 100px;
  top: 198px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #faf8f8;
}
.employee-dashboard .make-a-sale {
  
  position: absolute;
  width: 156px;
  height: 129px;
  left: 192px;
  top: 370px;

  background: rgba(211, 205, 205, 0.8);
}
.employee-dashboard  .sales-history {
  /* Rectangle 32 */

  position: absolute;
  width: 156px;
  height: 129px;
  right: 220px;
  top: 370px;

  background: rgba(196, 196, 196, 0.8);
}
.employee-dashboard  .make-sale-telephone {
  /* Vector */

  position: absolute;
  left: 34%;
  right: 41%;
  top: 28.68%;
  bottom: 29.46%;
}

.employee-dashboard .sales-history-svg {
  position: absolute;
  left: 34%;
  right: 41%;
  top: 28.68%;
  bottom: 29.46%;
}
.employee-dashboard  .button {
  /* Rectangle 7 */
  font-weight: 700;
  position: absolute;
  width: 85px;
  height: 50px;
  left: 1131px;
  top: 39px;
  color: rgb(245, 247, 248);
  background: rgba(196, 196, 196, 0.1);
  border-radius: 15px;
  border: none;
}

.employee-dashboard div p {
  color: beige;
  /* ...more css */
}

.employee-dashboard div span {
  /* ...more css */
}