/* Example of css to prevent css overlap */
/* Emphasis on using the "super" parent class, ie. "add-or-edit" */
.add-or-edit-manager {
  position: relative;
  width: 1024px;
  height: 768px;
  left: 253px;
  top: 3px;
  background: linear-gradient(
    180deg,
    rgb(167, 132, 81) 0%,
    rgba(40, 57, 119, 1) 30%,
    rgba(63, 69, 125, 1) 50%,
    rgba(40, 57, 119, 1) 70%,
    rgb(92, 116, 204) 100%
  );
  display: flex;
}

.form {
  position: absolute;
  width: 100%;
  height: 60%;
  left: 246px;
  top: 105px;
  line-height: 36px;
  align-items: center;
  padding-top: 50px;
  display: flex;
}
input {
  width: 80%;
  height: 20px;
  border-radius: 5px;
  line-height: 46px;
  line-height: 36px;
}

label {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 400px;
  line-height: 46px;
  margin-bottom: 10px;
  font-size: medium;
}

.managerheading {
  position: absolute;
  width: 382px;
  height: 78px;
  left: 59px;
  top: 34px;

  /* Header 1 */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #ffffff;
}
.btn {
  /* Rectangle 6 */
  font-weight: 700;
  position: absolute;
  width: 87px;
  height: 50px;
  left: 909px;
  top: 76px;
  color: #ffffff;
  background: rgba(96, 102, 180, 0.1);
  border-radius: 15px;
}

.cancel {
  /* Rectangle 73 */

  position: absolute;
  width: 100px;
  height: 35px;
  left: 300px;
  top: 446px;
  color: #ffffff;
  border-radius: 15px;
  background: rgba(238, 48, 48, 0.808);
  border-color: rgba(15, 15, 15, 0.1);
}

.add {
  text-align: center;
  border-radius: 15px;
  background-color: blue;
  border-color: blue;
  position: absolute;
  width: 102px;
  height: 35px;
  left: 74px;
  top: 446px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #ffffff;
}
.add-or-edit div p {
  color: beige;
  /* ...more css */
}

.add-or-edit div span {
  /* ...more css */
}
/* Items css */
.add-or-edit-item{
    position: relative;
    width: 1024px;
    height: 768px;
    left: 253px;
    top: 3px;
    background: linear-gradient(
      180deg,
      rgb(167, 132, 81) 0%,
      rgba(40, 57, 119, 1) 30%,
      rgba(63, 69, 125, 1) 50%,
      rgba(40, 57, 119, 1) 70%,
      rgb(92, 116, 204) 100%
    );
    display: flex; 
}
.itemheading{
    position: absolute;
  width: 382px;
  height: 78px;
  left: 59px;
  top: 34px;

  /* Header 1 */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #ffffff;
}
.item-form{
    position: absolute;
  width: 100%;
  height: 60%;
  left: 246px;
  top: 105px;
  line-height: 36px;
  align-items: center;
  padding-top: 50px;
  display: flex;
}
.item-btn{
    font-weight: 700;
    position: absolute;
    width: 87px;
    height: 50px;
    left: 909px;
    top: 76px;
    color: #ffffff;
    background: rgba(96, 102, 180, 0.1);
    border-radius: 15px;  
}
/* employee form css */
.add-or-edit-employee {
    position: relative;
    width: 1024px;
    height: 768px;
    left: 253px;
    top: 3px;
    background: linear-gradient(
      180deg,
      rgb(167, 132, 81) 0%,
      rgba(40, 57, 119, 1) 30%,
      rgba(63, 69, 125, 1) 50%,
      rgba(40, 57, 119, 1) 70%,
      rgb(92, 116, 204) 100%
    );
    display: flex; 
}
.employeeheading{
    position: absolute;
    width: 382px;
    height: 78px;
    left: 59px;
    top: 34px;
  
    /* Header 1 */
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
  
    color: #ffffff;  
}
.employee-btn{
    font-weight: 700;
    position: absolute;
    width: 87px;
    height: 50px;
    left: 909px;
    top: 76px;
    color: #ffffff;
    background: rgba(96, 102, 180, 0.1);
    border-radius: 15px;
}
.employee-form{
   position: absolute;
   width: 100%;
   height: 60%;
   left: 246px;
   top: 105px;
   line-height: 36px;
   align-items: center;
   padding-top: 50px;
   display: flex; 
}
.employee-add{
    text-align: center;
    border-radius: 15px;
    background-color: blue;
    border-color: blue;
    position: absolute;
    width: 102px;
    height: 35px;
    left: 74px;
    top: 410px;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
   color: #ffffff;  
}
.employee-cancel{
    position: absolute;
    width: 100px;
    height: 35px;
    left: 300px;
    top: 410px;
    color: #ffffff;
    border-radius: 15px;
    background: rgba(238, 48, 48, 0.808);
    border-color: rgba(15, 15, 15, 0.1);  
}