/* Example of css to prevent css overlap */
/* Emphasis on using the "super" parent class, ie. "employee-sales" */

.employee-sales{
     background: #5650A473;
    width: 82%;
}
.employee-sales h1{
    color: white;
    font-size: 42px;
    background:rgba(86, 80, 164, 0.45) ;
    font-family: 'Lato';
    /* line-height: 50px; */
    align-items: center;
   text-align: center;
   font-weight: 400;


    

/* font-family: 'Lato'; 
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 50px;
display: flex;
align-items: center;
text-align: center;
      */



    /* ...more css */
}

.employee-sales  table{
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    margin-top: 7rem;
    color:white;
    background:rgba(86, 80, 164, 0.45) ;
    /* border:solid white 26px; */
    /* width:max-content;
   height: 26px;
   left: 258px;
   top: 270px; */



    /* ...more css */
}
.employee-sales  table th{
    /* position:absolute; */
    border-bottom:solid white 2px;
width:max-content;
height: 15px;
left: 332px;
top: 221px;

}

.employee-sales  table td{
    /* border:solid white 1px; */
    border: none;
    border-bottom:solid white 2px;


    width:max-content;
    height: 26px;
    left: 258px;
    top: 270px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 60px; 
} 





