/* Example of css to prevent css overlap */
/* Emphasis on using the "super" parent class, ie. "registration" */
.registration {
  /* background: linear-gradient(0deg, rgba(157, 165, 184, 0) 0%, #311996 100%); */
  background: url(./backround-photo.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  backdrop-filter: blur(15px);
}
.registration div {
  display: flex;
  /* ...more css */
}
.registration div p {
  color: beige;
  /* ...more css */
}

.registration {
  /* ...more css */
}
.registration-nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-bottom: 100px;
  color: white;
  height: 70px;
}
.registration-nav h2 {
  width: 20%;
  margin-left: 70px;
  /* height: 50px; */
}
.registration-nav button {
  height: 35px;
  width: 80px;
  color: white;
  border-color: #e0c8ac;
  border-radius: 10px;
  margin-left: 60%;
  margin-top: 20px;
  background: rgba(76, 175, 80, 0.1);
}
/* .registration_app_name{
flex-direction: column;
height: 50px;
} */
.registration-container {
  display: flex;
  justify-content: center;
  height: 420px;
  width: 100vw;
}
.registration-inputs-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 70%;
  margin-left: 15%;
  height: 210px;
}
.registration-inputs-container input {
  border-radius: 6px;
  padding: 10px;
  opacity: 0.7;
  height: 27px;
  border: 1.5px solid #ccc;
  resize: vertical;


}
.registration-button-form button {
  margin-top: 10px;
  height: 30px;
  width: 70%;
  margin-left: 15%;
  background: white;
  color: blue;
  border-color: blue;
  border-radius: 10px;
}
.registration-signup-form {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background: white;
  border-radius: 10px 0 0 10px;
  width: 40%;
  height: 100%;
}
.registration-signup-form form {
  height: 70%;
}
.registration-welcome-message {
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: column;
  background: linear-gradient(0deg, rgba(157, 165, 184, 0) 40%, #311996 180%);
  background-size: 100vh 100vw;
  border-radius: 0px 10px 10px 0px;
  width: 40%;
}
.registration-welcome-message img {
  width: 60%;
  margin-left: 20%;
}
.registration-welcome-message p {
  font-weight: 300;
  font-size: 12px;
}
