/* Example of css to prevent css overlap */
/* Emphasis on using the "super" parent class, ie. "sign-in" */
.sign-in div{
    /* display: flex; */
    /* ...more css */
}

.sign-in div p{
    color: beige;
    /* ...more css */
}

.sign-in div span{
    /* ...more css */
}
.login-inputs-container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 70%;
    margin-left: 15%;
     height: 160px;
}
.login-inputs-container input{
    border-radius: 6px;
    padding: 10px;
    opacity: 0.7;
    height: 27px;
    border: 1.5px solid #ccc;
    resize: vertical;
}
.login-button-form{
    display: flex;
    justify-content: space-evenly;
}
.login-button-form button{
    margin-top: 10px;
    height: 35px;
    width: 120px;
    /* margin-left: 15%; */
    background: white;
    color: blue;
    border-color: blue;
    border-radius: 15px;
}
.login_forgot_password span{
    color: blue;
    position: relative;
    margin: auto;
    margin-top: 15px;
    /* left: 0; */
    /* right: 0; */
}