/* Example of css to prevent css overlap */
/* Emphasis on using the "super" parent class, ie. "employees" */
.employees div{
    display: flex;
    /* ...more css */  
    background: linear-gradient(
    180deg,
    rgb(167, 132, 81) 0%,
    rgba(40, 57, 119, 1) 30%,
    rgba(63, 69, 125, 1) 50%,
    rgba(40, 57, 119, 1) 70%,
    rgba(20, 36, 93, 1) 100%
  );

}

.employees div p{
    color: beige;
    /* ...more css */
}

 .employees div span{
    /* ...more css */
    color: aliceblue;
} 